* {
  border: none;
  border-radius: 0;
  padding: 0;
  font-family: "JetBrains Mono NF", monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
  padding-bottom: 1px;
}

tooltip {
  background: #191724;
  border-radius: 10px;
  border: 1px #1f1d2e solid;
}

window#waybar {
  background: transparent;
  color: #e0def4;
}

#clock {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #191724;
  color: #f6c177;
}

#workspaces {
  background-color: #191724;
  border-left: 1px #1f1d2e solid;
  padding-left: 5px;
}

#workspaces button {
  padding: 5px;
  color: #403d52;
  margin-right: 2.5px;
  margin-left: 2.5px;
}

#workspaces button.active {
  color: #ebbcba;
}

@keyframes blink {
    to {
        color: #e0def4;
    }
}

#workspaces button.urgent {
  color: #eb6f92;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#workspaces button:hover {
  color: #c4a7e7;
  border-color: #c4a7e7;
}

#window {
  background-color: #c4a7e7;
  color: #191724;
  border: 1px solid #a388c2;
  border-top: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px 0px 10px 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#custom-media {
  background-color: #191724;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #1f1d2e;
}

#custom-media.Playing {
  color: #e0def4;
}

#custom-media.Paused {
  color: #fb4934;
}

#tray {
  background-color: #191724;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid #1f1d2e;
}

#pulseaudio {
  color: #9ccfd8;
  margin-right: 0px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #191724;
}

#pulseaudio.muted {
  color: #191724;
  background-color: #eb6f92;
}

#pulseaudio.microphone {
  color: #31748f;
  background-color: #191724;
  padding-right: 10px;
}

#pulseaudio.source-muted.microphone {
  color: #191724;
  background-color: #ec5681;
}

.modules-right #custom-blank {
  background: #191724;
  border-radius: 0 0 0 10px;
}

.modules-right {
  border: 1px #1f1d2e solid;
  border-top: none;
  border-right: none;
  border-radius: 0 0 0 10px;
  padding-bottom: 0px;
}

.modules-left #custom-blank {
  background: #191724;
  border-radius: 0 0 10px 0;
}

.modules-left {
  border: 1px #1f1d2e solid;
  border-top: none;
  border-left: none;
  border-radius: 0 0 10px 0;
  padding-bottom: 0px;
}
