* {
    border: none;
    border-radius: 0;
    padding: 0;
    padding-bottom: 1px;
    font-family: 'CaskaydiaCove NF', monospace;
    font-weight: normal;
    font-size: 14px;
    min-height: 0;
}

tooltip {
    background: #282828;
    border-radius: 10px;
}

window#waybar {
    background: transparent;
    color: #cdd6f4;
}

#tooltip,
#workspaces,
#window,
#custom-media,
#pulseuadio {
    border: solid 1px rgba(29, 32, 33, 0.5);
    border-top: 0px;
}

#clock,
#tray {
    border: solid 1px rgba(40, 40, 40, 0.5);
    border-top: 0px;
}

#clock {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #1d2021;
    color: #b8bb26;
    border-radius: 0px 0px 10px 0px;
}

#workspaces {
    background-color: #282828;
    margin-left: 10px;
    border-radius: 0px 0px 10px 10px;
}

#workspaces button {
    padding: 5px;
    color: #fbf1c7;
    margin-right: 2.5px;
    margin-left: 2.5px;
}

#workspaces button.active {
    color: #b8bb26;
}

#workspaces button.urgent {
    color: #cc241d;
}

#workspaces button:hover {
    color: #8ec07c;
}

#window {
    background-color: #8ec07c;
    color: #1d2021;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 0px 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#custom-media {
    border-radius: 0px 0px 10px 10px;
    margin-right: 10px;
    background-color: #282828;
    padding-left: 10px;
    padding-right: 10px;
}
  
#custom-media.Playing {
    color: #b8bb26;
}
  
#custom-media.Paused {
    color: #fb4934;
}

#tray {
    background-color: #1d2021;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    border-radius: 0px 0px 10px 10px;
}

#pulseaudio {
    font-weight: bold;
    color: #1d2021;
    margin-right: 0px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #b8bb26;
    border-radius: 0px 0px 0px 10px;
}

#pulseaudio.muted {
    background-color: #fb4934;
}

#pulseaudio.microphone {
    color: #1d2021;
    background-color: #83a598;
    padding-right: 10px;
    border-radius: 0px;
}

#pulseaudio.source-muted.microphone {
    background-color: #cc241d;
}
