@import "launcher.rasi"

configuration {
  show-icons: false;
  location: 4;
}

window {
  width: 160px;
}

listview {
  columns: 1;
  lines: 5;
}

element {
  margin: 2 2 2 2;
  padding: 6 0 6 10;
}

entry {
  enabled: false;
}

prompt {
  margin: 10;
  padding: 0;
}
